.Logo {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 125px;
    background-color: black;
}
.Fotito {
    border-radius: 200px;
    height: 100px;
}
body {
    margin: 0px;
    background-color: rgb(35, 35, 79);
    font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
   color: white;
}
.Navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: center;
    
}
.ulnav  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;

}

footer {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: end;
}
.fotofooter {
    height: 75px;
}
.divfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}
.pfooter {
    font-size: 15px;
    margin-right: 10px;
}

li {
    list-style-type: none;
    text-align: center;
 }

.formulario {
    color: white;
 }

/* Aca empieza el index (tambien vamos a utilizar esto para detalle-genero y favoritos) */

.h1deindex {
    color:  orange;
    font-size: 30px;
 }
 .Fotos-seriepopular {
    height: 400px;
    width: 275px;
 }
 .h2deindex {
    color:  orange;
    width: 286px;
 }
 .h3deindex {
    color:  orange;
 }

ul { display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}
.sectionmainindex {
    margin: 0px 10px;
}

/* aca empieza detalles peliculas */

.maindepeliculas {
    display: flex;
    flex-direction: row;
  }
  
    
.Sectionimgpeliculas {
   margin: 20px 10px;
  }
.imgpeliculas {
    margin-left: 10px;
    height: 781px;
}
  .Sectionpalabraspeliculas {
    margin: 0px 20px;
  }
    
.h1depeliculas {
   color: white;
   font-size: 20px;
 }
 .btn{
    display: flex;
    justify-content: flex-start;
    color: white;
 }
 .botonpeliculas{
    cursor: pointer;
  }

/* series usa el mismo css que peliculas excepto este */
 .imgseries {
    margin-left: 10px;
    height: 735px;
}

/*Aca va todo lo relacionado con genero */
.boxgeneros{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    color: rgb(235, 120, 12);
    padding: 60px;
    border-radius: 50px;
    margin: 40px;
    font-size: 25px;
    height: 30px;
    width: 110px;
}
.Sectiondelgenero
{
    margin: 50px;
    display: flex;
    flex-direction: row;
    
 }
 .h1degenero
{
    text-align: center;
    color: rgb(235, 120, 12);
 }
 .Articlegenero
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

 }

 /* Reutilizamos lo de favoritos excepto esto*/
.h1defavoritos{
   color: yellow;
   text-align: center;
   font-size: 40px;
}
.pelis_recomendadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pelicula {
    margin: 7px;
}

/* A partir de aca hacemos el responsive para el celular*/
@media(max-width:425px) {
    .Logo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
    }
    .Fotito {
        border-radius: 200px;
        height: 50px;
    }
    body {
        margin: 0px;
        background-color: rgb(35, 35, 79);
        font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    }
    a {
        text-decoration: none;
       color: white;
       font-size: small;
    }
    .Navbar {
        width: 50%;
        display: flex;
        flex-direction: row;
        font-size: 35px;
        justify-content: center;
        
    }
    .ulnav  {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }
    
   .h4buscar{ 
    margin: 0px;
   }
    footer {
        background-color: black;
        color: white;
        text-align: center;
        
    }
    .fotofooter {
        height: 75px;
    }
    .divfooter {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .pfooter {
       font-size: 10px;
    }
    li {
        list-style-type: none;
        text-align: center;
     }
    
    .formulario {
        color: white;
     }
    
    /* Aca empieza el index (tambien vamos a utilizar esto para detalle-genero, busqueda y favoritos) */
    
    .h1deindex {
        color:  orange;
        font-size: 30px;
        text-align: center;
     }
     .Fotos-seriepopular {
        height: 400px;
        width: 286px;
     }
     .h2deindex {
        color:  orange;
        width: 376px;
     }
     .h3deindex {
        color:  orange;
     }
    
    ul { display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px;
    }
    .sectionmainindex {
        margin: 0px 10px;
    }
    
    /* aca empieza detalles peliculas */
    
    .maindepeliculas {
        display: flex;
        flex-direction: column;
      }
      
        
    .Sectionimgpeliculas {
       margin: 20px 10px;
      }
    .imgpeliculas {
        height: 565px;
    }
    .Sectionpalabraspeliculas {
        margin: 0px 20px;
      }
        
    .h1depeliculas {
       color: white;
       font-size: 20px;
     }
     .btn{
        display: flex;
        justify-content: center;
     }
     .botonpeliculas{
        cursor: pointer;
      }
      .celulargenero {
        font-size: 20px;
      }
      .iframecelular {
        height: 400px;
        width: 384px;
    }

    /* series usa el mismo css que peliculas excepto este */
     .imgseries {
        margin: 10px 10px;
        height: 481px;
    }

    /*Aca va todo lo relacionado con genero */
    .boxgeneros{
        text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    color: rgb(235, 120, 12);
    padding: 60px;
    border-radius: 50px;
    margin: 40px;
    font-size: 25px;
    height: 30px;
    width: 110px;
    }
    .Sectiondelgenero
    {
        margin: 50px;
        display: flex;
        flex-direction: column;
        
     }
     .h1degenero
    {
        text-align: center;
        color: rgb(235, 120, 12);
     }
     .Articlegenero
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    
     }

     /* Reutilizamos lo de favoritos excepto esto*/

    .h1defavoritos{
       color: yellow;
       text-align: center;
       font-size: 40px;
    }

    /*esto le sumamos a busqueda pero solo version celular para que se vea mejor*/

    .busquedacelular  {  
        font-size: 26px;
    }              
  }
